[submodule "yamltests/res/spectests"]
	path = yamltests/res/ethtests
	url = https://github.com/ethereum/eth2.0-spec-tests
[submodule "vendor/bm"]
	path = vendor/bm
	url = https://github.com/sorpaas/bm
[submodule "vendor/blockchain"]
	path = vendor/blockchain
	url = https://github.com/rust-blockchain/blockchain
[submodule "vendor/libp2p"]
	path = vendor/libp2p
	url = https://github.com/sorpaas/rust-libp2p
[submodule "vendor/milagro_bls"]
	path = vendor/milagro_bls
	url = https://github.com/sorpaas/milagro_bls
[submodule "blockchain/res/eth2-testnets"]
	path = blockchain/res/eth2-testnets
	url = https://github.com/eth-clients/eth2-testnets
